//@each at-rule with list
$sizes: 8, 16, 20;

@each $size in $sizes {
  .p-#{$size} {
    padding: #{$size}px;
  }
}

//@each at-rule with map
$spacers: (
  "sm": 24px,
  "md": 32px,
  "lg": 36px,
  "xl": 68px,
);

@each $key, $value in $spacers {
  margin-#{$key} {
    margin: #{$value}px;
  }
}
